.nav {
  display: none;

  $root: &;

  @media(min-width: 992px) {
    background: $hacks-color;
    padding: 15px 0;
    display: flex;

    &_start {
      #{$root} {
        &__wrap {
          justify-content: flex-start;
        }
      }
    }
  }

  @media(min-width: 1200px) {
    padding: 20px 0;
  }

  &__item {
    @media(min-width: 992px) {
      position: relative;
      margin-right: 15px;

      &.active {
        #{$root} {
          &__dropdown {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }

    @media(min-width: 1200px) {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }

  }

  &__wrap {
    justify-content: flex-end;
  }

  &__item-url {

    @media(min-width: 992px) {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 600;
      color: rgba($color: $white-color, $alpha: .8);
      border-radius: 30px;
      transition: all .25s ease;

      &:hover {
        color: $black-color;
        background: $white-color;
        text-decoration: none;

        #{$root} {
          &__item-caret {
            fill: $black-color;
          }
        }
      }

      &_active {
        color: $red-color;
        background: $white-color;
        text-decoration: none;

        #{$root} {
          &__item-caret {
            fill: $black-color;
          }
        }
      }

    }

    @media(min-width: 1200px) {
      padding: 15px 25px;
      font-size: 16px;
    }
  }

  &__item-caret {
    width: 12px;
    margin-left: 5px;
    fill: $white-color;
  }

  &__dropdown {
    @media(min-width: 992px) {
      position: absolute;
      left: 0;
      top: 100%;
      width: 220px;
      background: $light-color;
      padding: 30px 15px;
      margin-left: 20px;
      z-index: 3;
      opacity: 0;
      pointer-events: none;
      transition: opacity .25s ease;
    }
  }

  &__dropdown-link {
    @media(min-width: 992px) {
      display: block;
      color: $black-color;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      margin-bottom: 10px;

      &:hover {
        color: $red-color;
        text-decoration: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}