.contact-block {
  padding: 150px 0 40px;
  min-height: 320px;
  max-width: 100%;
  background: linear-gradient(rgba($color: $hacks-color, $alpha: .87), rgba($color: $hacks-color, $alpha: .82)),
              url('/themes/flour/assets/images/theme/field.jpg') left 50% top 50% / cover no-repeat;

  @media(min-width: 768px) {
    padding: 170px 0 80px;
  }

  &__container {
    width: 100%;
    @media(min-width: 768px) {
      margin-left: 50px;
    }

    @media(min-width: 992px) {
    }

    @media(min-width: 1199px) {
      margin-left: 150px;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @media(min-width: 768px) {
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    @media(min-width: 768px) {
      margin: 0 -10px;
    }
  }

  &__social-link {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow-xs;
    transition: box-shadow .2s ease;

    &:hover {
      box-shadow: none;
    }

    @media(min-width: 768px) {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin: 0 10px;
    }

    &_whatsapp {
      background: #43d854;
    }

    &_vk {
      background: #0077ff;
    }

    &_inst {
      background: #f09433;
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 )
    }

    &_tg {
      background: #0088cc;
    }
  }

  &__social-ico {
    color: #FFF;
    width: 20px;

    @media(min-width: 768px) {
      width: 28px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
  }

  &__phone-icon {
    color: $yellow-color;
    width: 25px;
    height: 25px;
    margin-right: 15px;

    @media(min-width: 768px) {
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }

    @media(min-width: 992px) {
      width: 40px;
      height: 40px;
      margin-right: 40px;
    }
  }

  &__phone-group {
    flex: 1 1
  }

  &__phone-value {
    display: block;
    color: $white-color;
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 5px;

    @media(min-width: 768px) {
      font-size: 30px;
    }

    @media(min-width: 992px) {
      font-size: 35px;
    }

    &:hover {
      text-decoration: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}