$base-font: 'Gilroy', 'Arial', sans-serif;
$base-font-size: 18px;
$base-line-height: 21px;

$yellow-color: #ffc20a;
$hacks-color: #a8ab4e;
$red-color: #f24b13;
$dark-color: #232735;
$grey-color: #4d423f;
$light-color: #f1f1f1;
$border-color: #b2b2b2;
$white-color: #FFF;
$black-color: #000;

$blue-color: #61A8DE;
$green-color: #61ad9b;


$shadow-lg: 0px 20px 60px rgb(0 0 0 / 10%);
$shadow-md: 0px 29px 45px rgb(0 0 0 / 14%);
$shadow-xs: 0 1px 4px rgb(0 0 0 / 70%);